body {
    background-image: url("https://wallpapercave.com/wp/wp2098819.jpg");
}

mg.card-img-top{
    display: grid;
    justify-content: center;
    margin: auto;
}


.card{
    border-color: black;
    border:  solid 4px;
    background-color:#ee8130 ;


}

#pokemon{
    display: flex;
    justify-content: center;
}

.card-body{
    display:grid;
    justify-content: center;
}

.words{
    display: flex;
    justify-content: center;
    font-family: "Lucida Console", "Courier New", monospace;
}
 